<div class="contact-section section_padding">
    <div class="container">
        
        <div class="row ">
            <div class="col-12">
                <h3 class="contact-title">Contact with us</h3>
            </div>
            <div class="col-lg-8 col-sm-12">
                <form class="form-contact contact_from">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="from-group">
                                <textarea class="from-control h-100 w-100" name="" id="" cols="30"
                                    rows="10" placeholder="Enter Message" aria-label="enter message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="from-group">
                                <input class="from-control" placeholder="Enter your name" type="text" name="" aria-label="enter your name" id="">
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="from-group">
                                <input class="from-control" placeholder="Enter your email" type="text" aria-label="enter your email" name=""id="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="from-group">
                                <input class="from-control" placeholder="Enter your subject" type="text" aria-label="enter your subject" name=""id="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="buton_send" aria-label="send button">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 padding_size">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-home fa-2x"></i></span>
                    <div class="media-body">
                        <h3>Canarias, S/C Tenerife.</h3>
                        <p> C/la carreta, Nº 24</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-tablet fa-2x"></i></span>
                    <div class="media-body">
                        <h3>555-555-555</h3>
                        <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="fa fa-envelope-square fa-2x"></i></span>
                    <div class="media-body">
                        <h3>support@tucoche.net</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>