.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  padding: 0px;
}
.mat-card-header{
  margin-top: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  background-color: rgba(184, 172, 172, 0.2);
}

.container {
  padding: 2px 16px;
}

li {
  list-style: none;
}

img {
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.form-group {
  width: 300px;
  height: auto;
  position: absolute;
  top: 85%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.form-control {
  position: relative;
  height: 50px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  transition: .5s ease-in-out;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid rgb(53, 7, 49);
}

label {
  position: absolute;
  top: 0;
  font-size: 18px;
  padding-left: 15px;
  line-height: 50px;
  transition: .5s ease;
}

.form-control:focus+label,
.form-control:valid+label {
  top: -20px;
  padding-left: 0;
  font-size: 14px;
  color: purple;
}
.btn{
  margin-bottom: 10px;
}
@media (min-width: 300px) and (max-width: 1000px) {
  .create {
    visibility: hidden;
    position: absolute;
  }
}