<div class="row">
  <ng-container *ngIf="rol == 'admin' ; then exist">
  </ng-container>
  <ng-template #exist>
    <div class="col-12">

      <h2>Introduce un nuevo vehiculo</h2>
      <form action="" method="POST">
        <label for="carroceria">Tipo de carroceria</label>
        <input type="text" name="" id="carroceria">

        <label for="marca">Marca del vehiculo</label>
        <input type="text" name="" id="marca">

        <label for="stock">Stock del modelo</label>
        <input type="text" name="" id="stock">

        <label for="km">KM del vehiculo</label>
        <input type="text" name="" id="km">

        <label for="motor">Motor del modelo</label>
        <input type="text" name="" id="motor">

        <label for="anio">Año del modelo</label>
        <input type="text" name="" id="anio">

        <label for="precio">Precio del Vehiculo</label>
        <input type="text" name="" id="precio">

        <label for="CV">CV del Vehiculo</label>
        <input type="text" name="" id="CV">

        <label for="plazas">Plazas del Vehiculo</label>
        <input type="text" name="" id="plazas"> <br>
        <button type="button" class="btn btn-outline-success"  (click)="onCreate()">Introducir </button>
      </form>
    </div>
  </ng-template>
  <div class="col col-md-6 col-lg-4 col-xl-3 py-3" *ngFor="let coche of coches">
    <!-- (click)="onSelect(coche)"-->
    <mat-card class="card" [class.select]="coche == selectedCoche">
      <div class="container" (click)="onSelect(coche)">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><span class="lista">{{coche.marca}}</span></mat-card-title>

        </mat-card-header>

        <img mat-card-image src="assets/images/{{coche.marca}}.jpg" alt="Photo of {{coche.marca}}" style="width:100%;">
        <mat-card-content>
          <strong>KM:</strong> <span class="badge badge-secondary">{{coche.km}} mil</span><br>
          <strong>CV:</strong> <span class="badge badge-secondary"> {{coche.CV}}</span>
          <h2>{{coche.precio}}€/dia</h2>

        </mat-card-content>
      </div>
      <ng-container *ngIf="rol == 'admin' ; then existe">
      </ng-container>
      <ng-template #existe>
        <mat-card-actions style="text-align:center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button mat-raised-button type="button" class="btn btn-sm btn-outline-warning">Editar</button>
            <button mat-stroked-button type="button" class="btn btn-sm btn-outline-danger"
              (click)="onDelete(coche)">Eliminar</button>
          </div>
        </mat-card-actions>
      </ng-template>
    </mat-card>
  </div>

</div>