
<div class="row">
  <div class="col col-md-6 col-lg-4 col-xl-3 py-3" *ngFor="let coche of coches">
    <mat-card class="card" (click)="onSelect(coche)">
      <div class="container">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><span class="lista">{{coche.marca}}</span></mat-card-title>

        </mat-card-header>

        <img mat-card-image src="assets/images/{{coche.marca}}.jpg" alt="Photo of {{coche.marca}}" style="width:100%;">
        <mat-card-content>
          <p><strong>KM:</strong> {{coche.km}} mil</p>
          <p> <strong>CV:</strong> {{coche.CV}}</p>
          <h2>{{coche.precio}}€/dia</h2>

        </mat-card-content>
      </div>
      <mat-card-actions style="text-align:center">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button mat-raised-button type="button" class="btn btn-sm btn-outline-warning">Editar</button>
          <button mat-stroked-button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
        </div>
  


      </mat-card-actions>
    </mat-card>
  </div>
</div>