.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 600;
}

.content {
    text-align: center;
    height: 800px;
    overflow-y: scroll;
}

.details {
    height: 400px;
    overflow-y: scroll;
}

.texto {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.badge{
    font-size: 30px;
}
.text-uppercase{
    font-size: 40px;
}

.card-content {
    background-color: darken($color: rgba(0,0,0,.87), $amount: 0);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 20px #666;

    .idpedido {
        color: white;
        font-size: 20px;
        font-weight: 500;

    }

    .fechapedido {
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-right: 10px;
    }

    &:hover {
        background-color: saturate($color: #000000, $amount: 0);
        box-shadow: 0px 0px 0px #666;
    }
}

button {
    margin-right: 10px;
    border-radius: 200px;
}

h1 {
    text-transform: uppercase;
}