
<h2>Editando {{cocheEdit.marca}}</h2>

<!--

<label>Nombre:
    <input id="name" name="name" class="form-control"
    required minlength="3" #name="ngModel"
    [(ngModel)]="cocheEdit.name" type="text" placeholder="Nombre">
</label><br />

<div *ngIf="name.invalid && (name.dirty || name.touched)">

    <div class="error" *ngIf="name.errors.required">
        El nombre es obligatorio
    </div>
    <div class="error" *ngIf="name.errors.minlength">
        El nombre debe tener al menos 3 caracteres
    </div>
</div>-->

<label>CARROCERIA:
    <input [(ngModel)]="cocheEdit.tipoCarroceria" type="text" placeholder="tipoCarroceria">
</label><br />

<label>STOCK :
    <input [(ngModel)]="cocheEdit.stockModelo" type="text" placeholder="stockModelo">
</label>
    
<label>KM:
    <input [(ngModel)]="cocheEdit.km" type="text" placeholder="km">
</label>
    
<label>MOTOR:
    <input [(ngModel)]="cocheEdit.motor" type="text" placeholder="motor">
</label>
<label>AÑO:
    <input [(ngModel)]="cocheEdit.anio" type="text" placeholder="anio">
</label>
    <br>
<button (click)="subirActualizacion()" class="btn btn-outline-success">Update</button>