<div class="wrapper fadeInDown">
    <div id="formContent">
 
  
   
      <div class="fadeIn first">
       <!--<img src="" id="icon" alt="User Icon" />-->
       <h1 class="Display-3">Sign in</h1>
      </div>
  
  
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" #login>
        <input type="text" id="email" class="fadeIn third" name="login" placeholder="email" #email> 
        <input type="password" id="pass" class="fadeIn third" name="login" placeholder="password" #pass> 
        <button type="button" class="fadeIn fourth btn btn-outline-dark py-2" (click)="register(login.value,email.value ,  pass.value)" >Sign in</button>
  
      </form>
  

      <div id="formFooter">
        <a class="underlineHover" href="/login">Do you have an account?</a>
      </div>
  
    </div>
  </div>